@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
html {
  height: 100%;
}
body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
}
.headerCl {
	margin-top: 34px;
	margin-left: 135px;
	margin-right: 135px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.compName {
	margin-top: 2px;
	font-family: 'Manrope', sans-serif;
	font-size: 23px;
}
.menu {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	gap: 46px;
	
}
.textMenu {
	font-family: 'DM Sans', sans-serif;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
	transition: 4s;
}

.menu .textMenu {
	display: inline-block;
    color: #000000;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}
.menu .textMenu:after {
	background-color: #030303;
    display: block;
    content: "";
    height: 3px;
    width: 0px;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
} 

.menu .textMenu:hover:after,
.menu .textMenu:focus:after {
    width:35px;
}

.firstContainer {

}

.secondContainer {

}

.thirdContainer {

}

.fourthContainer {

}

.fivesContainer {

}

.sixthContainer {

}

footer{
	width: 100%;
}
.footer{
	display: grid;
	margin-left: 280px;
	margin-right: 280px;
	grid-template-rows: 1fr auto;
}
.footer_hr{
	border: 1px solid #DEDFE1;
}
.footer_logo_nav{
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footer_logo{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 23px;
	line-height: 31px;
	color: #31353B;
	margin-right: 252px;
}
.footer_nav{
	display: flex;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 17px;
}
.footer_nav a{
	margin-right: 46px;
	color: #31353B;
}
.footer_nav a span:hover{
	border-bottom: 1px solid #31353B;
}
.copyright{
	margin-top: 77px;
	margin-bottom: 36px;
	width: 100%;
	text-align: center;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #31353B;
}