@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
html {
  height: 100%;
}
body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
}
.headerCl {
	margin-top: 34px;
	margin-left: 135px;
	margin-right: 135px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.compName {
	margin-top: 2px;
	font-family: 'Manrope', sans-serif;
	font-size: 23px;
}
.menu {
	justify-self: flex-end;
	display: flex;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 17px;
	
}

.menu a{
	margin-right: 46px;
	color: #31353B;
}

.menu a span:hover{
	border-bottom: 1px solid #31353B;
}
.activeLink{
	border-bottom: 1px solid #31353B;
}
.firstContainer {

}

.secondContainer {

}

.thirdContainer {

}

.fourthContainer {

}

.fivesContainer {

}

.sixthContainer {

}

footer{
	width: 100%;
}
.footer{
	display: grid;
	margin-left: 280px;
	margin-right: 280px;
	grid-template-rows: 1fr auto;
}
.footerHr{
	border: 1px solid #DEDFE1;
}
.footerLogoNav{
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footerLogo{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 23px;
	line-height: 31px;
	color: #31353B;
	margin-right: 252px;
}
.footerNav{
	display: flex;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 17px;
}
.footerNav a{
	margin-right: 46px;
	color: #31353B;
}
.footerNav a:hover{
	border-bottom: 1px solid #31353B;
}
.copyright{
	margin-top: 77px;
	margin-bottom: 36px;
	width: 100%;
	text-align: center;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #31353B;
}