@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root {
  --height_header: 64px;
  --font: calc(1vw + 1vh);
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
html {
  height: 100%;
}
body {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
}
header{
	height: var(--height_header);
	margin-left: calc(var(--font )*5);
}
.headerCl {
	margin-top: calc(var(--font )*1);
	margin-right: calc(var(--font )*5);
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.compName {
	margin-top: 2px;
	font-family: 'Manrope', sans-serif;
	font-size: calc(var(--font ) * 0.9);
}
.menu {
	justify-self: flex-end;
	display: flex;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: calc(var(--font )*0.6);
	line-height: 17px;
}

.menu a{
	margin-right: calc(var(--font )*2);
	color: #31353B;
}

.menu a:hover{
	border-bottom: 1px solid #31353B;
}
.activeLink{
	border-bottom: 1px solid #31353B;
}
main{
	margin-left: calc(var(--font )*5);
	margin-top: calc(var(--font )*3);
}
.blueBg{
	width: 36%;
	z-index: -1;
	height: 100vh;
	position: absolute;
	right: 0;
	background-color: #BDCCFF;
}
.firstContainer {
	min-height: calc(100vh - var(--height_header));
	display: grid;
	grid-template-areas:
    "A A A A  A A A E";
}
.textAndButton {
  justify-self:start;
  grid-area: A;
  margin-top: var(--font );
  width: 70%;
  z-index: 3;
}
.imgBtnZipCode{
	margin-top: calc(var(--font )*2);
	height: calc(var(--font )*3);
	display: grid;
	width: 85.5%;
	height: 8.6%;
	grid-template-columns: 74.3% 25.7%;
}
#imgZipCode{
	position: relative;
	background: url(Img/iconZipCode.png) no-repeat scroll calc(var(--font )*1);
	background-size: calc(var(--font )*0.7);
	padding-left:calc(var(--font )*2);
	border-top: 2px solid #DADADA;
	border-bottom: 2px solid #DADADA;
	border-left: 2px solid #DADADA;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
  0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
  0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
  0px 20px 13px rgba(0, 0, 0, 0.015),
  0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
  0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: calc(var(--font )*0.8);
	line-height: calc(var(--font )*0.8);
	letter-spacing: 0.01em;
	color: #31353B;
	opacity: 0.4;
	z-index: 3;
	width: 100%;
	height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#imgZipCode:focus {
  opacity: 1;
}
#imgZipCode:checked {
  opacity: 1;
}
#btnZipCode{
	position: relative;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: calc(var(--font )*0.7);
	line-height: calc(var(--font )*0.8);
	letter-spacing: 0.01em;
	color: #FFFFFF;
	text-align: center;
	background: #F85A47;
	border: none;
	z-index: 3;
	width: 100%;
	height: 100%;
}
#btnZipCode:hover{
	opacity: 0.9;
	cursor: pointer;
}
#btnZipCode:active{
	box-shadow:1px 1px 2px rgba(0,0,0,0.7) inset;
	transform: scale(0.99);
}
.partners{
	width: 100%;
	height: 20%;
}
.partners div{
	display: grid;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	align-items: center;
	gap: calc(var(--font )*3);
}
.containerImage {
  	grid-area: A;
	justify-self: end;
	width: 62%;
	height: 70%;
}
.imgs {
	display: grid;
    grid-template-areas:
	" A ";
    position: relative;
}
#img_1 {
	opacity: 100; 
	filter: alpha(opacity=100);
	min-width: 603px;
	min-height: 573px;	
	width: 100%;
}
#img_2 {
	opacity: 100; 
	filter: alpha(opacity=100);
	min-width: 603px;
	min-height: 573px;
	width: 100%;
}
.imgBot {	
    z-index: 1;
	grid-area: A;
}
.imgTop{
	grid-area: A;
}

.containerSocialNetwork{
	
	grid-area:E;
	height: 50%;
	display: grid;
	justify-items: end;
	align-items: center;
}
.socialNetwork{
	align-self: center;
	z-index: 5;
	margin-right: calc(var(--font )*1.1);
	display: grid;
	gap: calc(var(--font )*1.5);
	text-align: center;
}

.partners img{

}
.secondContainer {

}

.thirdContainer {

}

.fourthContainer {

}

.fivesContainer {

}

.sixthContainer {

}

footer{
	width: 100%;
}
.footer{
	display: grid;
	margin-left: calc(var(--font )*9);
	margin-right: calc(var(--font )*9);
	grid-template-rows: 1fr auto;
}
.footerHr{
	border: 1px solid #DEDFE1;
}
.footerLogoNav{
	margin-top: calc(var(--font )*2);
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footerLogo{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: calc(var(--font ) * 0.9);
	line-height: 31px;
	color: #31353B;
	margin-right: calc(var(--font ) * 2);
}
.footerNav{
	display: flex;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: calc(var(--font )*0.6);
	line-height: 17px;
}
.footerNav a{
	margin-right: calc(var(--font ) * 1.5);
	color: #31353B;
}
.footerNav a:hover{
	border-bottom: 1px solid #31353B;
}
.copyright{
	margin-top: calc(var(--font) * 1.5);
	margin-bottom: calc(var(--font )*0.7);
	width: 100%;
	text-align: center;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: calc(var(--font )*0.5);
	line-height: 16px;
	color: #31353B;
}